figure{
	text-align:center;
}

#headimg{
	max-width:10em;
}

#banner{
	max-width:500px;
	width:100%;
}

h1{
	font-family:"Cormorant Garamond";
	text-align:center;
	background-color:transparent;
}

a{
	text-decoration:none;
}

nav .button{
	padding:0;
}

nav ul{
	list-style:none;
	overflow:hidden;
}

nav ul li{
	text-align:center;
}

nav ul li a{
	text-decoration:none;
	width:100%;
}

	#socmed .button:hover{
	color:white;
}

#socmed .button{
	font-size:64px;
	color:transparent;
	height:76px;
	border:none;
	border-radius:38px;
	padding: 6px 0;
}

#facebook{
	background-color:#3664a2;
}

#youtube{
	background-color:red;
}

#instagram{
	background:url("img/socmed/ig.png");
	background-size:cover;
	background-position:center;
}

#soundcloud{
	background-color:#ff5500;
}

h2, h3, h4, h5, h6{
	color:white;
  background-color:#ff4080;
}

@media(min-width:550px){
	h2{padding-left:8.66666666667%;}
	h3{padding-left:8.66666666667%;}
}

div h3{
	padding:0;
}

h4{
    padding-left:8.66666666667%;
}

h5{
	font-style:italic;
}

a:link{
	color:#ff0040;
}

a:visited{
    color:#ff0040;
}

article{
	padding:1%;
	margin-bottom:1em;
}

article h3{
	text-align:center;
}

article img{
	width:100%;
}

iframe{
	width:100%;
}

#software{
	color:#808080;
	font-style:italic;
}

footer{
	clear:both;
}

nav ul li a{
	max-width:256px;
}

nav ul li span{
	display:block;
}

nav ul li a img{
	max-width:100%;
}

#footer{
	text-align:center;
	color:#808080;
	font-style:italic;
}
